@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.ttf') format('truetype');
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins-Bold', sans-serif;
    background-color: #D8B077;
}

#startMenu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    overflow-y: auto;
    max-height: 80%;
}

#startMenu h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 36px;
}

#startMenu input,
#startMenu button,
#lobbyMenu button {
    display: block;
    width: 92%;
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
    font-family: 'Poppins-Bold', sans-serif;
    border-radius: 10px;
    border: none;
}

#startMenu input {
    border: 2px solid #ccc;
}

#startMenu button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
}

#startMenu button:hover {
    background-color: #0056b3;
}

#switchTeamButton {
    background-color: gray !important;
}

.tankTypeContainer {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
}

.tankTypeContainer select {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dddddd;
    font-size: 18px;
    margin-bottom: 10px;
}

.tankInfo {
    padding: 1px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #8f8f8f;
    font-size: 16px;
    text-align: center;
    height: 60px;
    /* Fixed height to prevent resizing */
    overflow: hidden;
    /* Hide overflow text */
    box-sizing: border-box;
    /* Include padding in height */
}

p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    /* Center the text for instructions */
}

li {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    /* Center the text for instructions */
}

/* Sidebar Styles */
#lobbyList {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

#lobbyList h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#lobbyUl {
    list-style: none;
    padding: 0;
}

#lobbyUl li {
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#lobbyUl li:hover {
    background-color: #555;
}
